<a href="https://colab.research.google.com/github/LuuQuangHoi/AI_Exercise1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

with open('text.txt',mode ='w') as accounts:
  accounts.write('20146124 Luu Quang Hoi   8.0\n')
  accounts.write('20146125 Luu Quang A   8.0\n')
  accounts.write('20146126 Luu Quang B   8.0\n')
  accounts.write('20146127 Luu Quang C   8.0\n')
  accounts.write('20146128 Luu Quang D   8.0\n')

In [ ]:
with open('text1.txt',mode='r') as accounts:
  print(f'{" MSSV":<10}{"Name":<20}{"Score":>4}')
  for record in accounts:
    mssv,name,score=record.split()
    print(f'{mssv:<10}{name:<20}{score:>4}')

FileNotFoundError: ignored

# New Section

In [ ]:
import pandas as pd
url = 'text2.csv'
dataframe = pd.read_csv(url)
dataframe.head(20)
#dataframe.shape
#dataframe.describe()
dataframe.iloc[10]
dataframe.iloc[:4]

       MSSV      Ho va ten Khóa Khoa  Điểm
0  20146124  Luu Quang Hoi  K20  CKM   8.0
1  19146125   Nguyen Van A  K19  CKM   9.0
2  20146126   Nguyen Van B  K20  CKM   7.0
3  20146127   Nguyen Van C  K20  CKM   8.0

In [ ]:
dataframe.iloc[:4]

In [ ]:
dataframe.iloc[0:4]

NameError: ignored

In [ ]:
dataframe.iloc[10]

In [ ]:
frame = dataframe.set_index(dataframe['Ho va ten'])
frame.loc['Nguyen Van A']

In [ ]:
dataframe[dataframe['Khoa']=='CKM'].head(5)

In [ ]:
dataframe[dataframe['Ho va ten']=='Nguyen Van B'].head(5)

In [ ]:
dataframe[dataframe['Ho va ten']=='Le Van B'].head(5)

In [ ]:
dataframe[(dataframe['Khoa']=='CKM')&(dataframe['Khóa']=='K19')]

In [ ]:
dataframe[(dataframe['Khoa']=='CKM')&(dataframe['Điểm']==5.6)]

In [ ]:
dataframe[(dataframe['Khoa']=='CKM')&(dataframe['MSSV']==20146123)]

In [ ]:
dataframe[(dataframe['Khoa']=='CKM')&(dataframe['Điểm']>8)]

In [ ]:
dataframe[(dataframe['Khoa']=='CKM') & (dataframe['Điểm']>9)]

In [ ]:
dataframe['Điểm'].min()

In [ ]:
dataframe['Điểm'].mean()

In [ ]:
dataframe['Điểm'].count()

In [ ]:
dataframe['Khoa'].unique()

In [ ]:
dataframe['Khoa'].value_counts()

In [ ]:
dataframe['Khóa'].unique()

In [ ]:
dataframe.drop('Khoa',axis=1).head(5)

In [ ]:
dataframe.drop(['Khoa','Khóa'],axis=1).head(5)

In [ ]:
dataframe.drop(dataframe.columns[2:4],axis =1).head(5)

In [ ]:
dataframe.head(10)

In [ ]:
dataframe.drop(dataframe.columns[2:4],axis =1).head(5)

In [ ]:
dataframe[dataframe['Khóa']!= 'K19'].head(20)

In [ ]:
dataframe[dataframe['Khoa']!= 'CKM'].head(20)

In [ ]:
dataframe[dataframe.index!=4].head(20)

        MSSV      Ho va ten Khóa Khoa  Điểm
0   20146124  Luu Quang Hoi  K20  CKM   8.0
1   19146125   Nguyen Van A  K19  CKM   9.0
2   20146126   Nguyen Van B  K20  CKM   7.0
3   20146127   Nguyen Van C  K20  CKM   8.0
5   20146129   Nguyen Van E  K20  CKM   9.0
6   20146130   Nguyen Van F  K20  CKM   7.6
7   20146131   Nguyen Van G  K20  CKM   8.2
8   20146132   Nguyen Van H  K19  CKM   6.3
9   20146133   Nguyen Van I  K20  CKM   7.8
10  20146134   Nguyen Van K  K20  CKM   9.4
11  20146135   Nguyen Van L  K20  CKM   5.6
12  20146136   Nguyen Van M  K20  CKM   8.7

In [ ]:
dataframe.groupby('Khóa').head(15)

In [ ]:
dataframe.groupby('Khóa').count()

In [ ]:
dataframe.groupby(['Khóa','Khoa']).head(20)

In [ ]:
dataframe.groupby(['Khóa','Khoa']).count()

In [ ]:
dataframe.groupby(['Khóa','Khoa'])['Điểm'].count()

In [ ]:
dataframe.groupby('Khóa').head(15)
dataframe.groupby('Khóa').count()

In [ ]:
import numpy as np
import pandas as pd

time = pd.date_range('01/01/2023',periods = 100000, freq = '30s')
dataframe = pd.DataFrame(index = time)
dataframe['Acess_Amount'] = np.random.randint(1,10,100000)
dataframe.resample('W').sum()

In [ ]:
chọn 1 nước lọc dữ liệu huy chương từ các môn

In [ ]:
data[data['City']=='Chamonix'].head(50)

In [ ]:
import pandas as pd
url ='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
data[(data['City']=='Oslo')&(data['Medal']=='Gold')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
254,1952,Oslo,Skiing,Alpine Skiing,AUT,downhill,W,Gold
258,1952,Oslo,Skiing,Alpine Skiing,AUT,slalom,M,Gold
259,1952,Oslo,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
262,1952,Oslo,Skiing,Cross Country S,FIN,10km,W,Gold
266,1952,Oslo,Skiing,Cross Country S,FIN,4x10km relay,M,Gold
267,1952,Oslo,Skiing,Cross Country S,FIN,50km,M,Gold
271,1952,Oslo,Bobsleigh,Bobsleigh,FRG,four-man,M,Gold
272,1952,Oslo,Bobsleigh,Bobsleigh,FRG,two-man,M,Gold
273,1952,Oslo,Skating,Figure skating,GBR,individual,W,Gold
274,1952,Oslo,Skating,Figure skating,GER,pairs,X,Gold
280,1952,Oslo,Skiing,Alpine Skiing,ITA,downhill,M,Gold
285,1952,Oslo,Skating,Speed skating,NOR,10000m,M,Gold
287,1952,Oslo,Skating,Speed skating,NOR,1500m,M,Gold
289,1952,Oslo,Skating,Speed skating,NOR,5000m,M,Gold
291,1952,Oslo,Skiing,Alpine Skiing,NOR,giant slalom,M,Gold
294,1952,Oslo,Skiing,Cross Country S,NOR,18km,M,Gold
298,1952,Oslo,Skiing,Nordic Combined,NOR,individual,M,Gold
299,1952,Oslo,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold
311,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
314,1952,Oslo,Skating,Speed skating,USA,500m,M,Gold
316,1952,Oslo,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
317,1952,Oslo,Skiing,Alpine Skiing,USA,slalom,W,Gold

In [ ]:
data[(data['City']=='Oslo')&(data['Medal']=='Silver')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
251,1952,Oslo,Skating,Figure skating,AUT,individual,M,Silver
253,1952,Oslo,Skiing,Alpine Skiing,AUT,downhill,M,Silver
256,1952,Oslo,Skiing,Alpine Skiing,AUT,giant slalom,M,Silver
257,1952,Oslo,Skiing,Alpine Skiing,AUT,giant slalom,W,Silver
263,1952,Oslo,Skiing,Cross Country S,FIN,10km,W,Silver
265,1952,Oslo,Skiing,Cross Country S,FIN,18km,M,Silver
268,1952,Oslo,Skiing,Cross Country S,FIN,50km,M,Silver
269,1952,Oslo,Skiing,Nordic Combined,FIN,individual,M,Silver
275,1952,Oslo,Skiing,Alpine Skiing,GER,downhill,W,Silver
278,1952,Oslo,Skiing,Alpine Skiing,GER,slalom,W,Silver
282,1952,Oslo,Skating,Speed skating,NED,10000m,M,Silver
283,1952,Oslo,Skating,Speed skating,NED,1500m,M,Silver
284,1952,Oslo,Skating,Speed skating,NED,5000m,M,Silver
293,1952,Oslo,Skiing,Alpine Skiing,NOR,slalom,M,Silver
295,1952,Oslo,Skiing,Cross Country S,NOR,4x10km relay,M,Silver
300,1952,Oslo,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Silver
307,1952,Oslo,Bobsleigh,Bobsleigh,USA,four-man,M,Silver
308,1952,Oslo,Bobsleigh,Bobsleigh,USA,two-man,M,Silver
309,1952,Oslo,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
312,1952,Oslo,Skating,Figure skating,USA,individual,W,Silver
313,1952,Oslo,Skating,Figure skating,USA,pairs,X,Silver
315,1952,Oslo,Skating,Speed skating,USA,500m,M,Silver

In [ ]:
data[(data['City']=='Oslo')&(data['Medal']=='Bronze')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
252,1952,Oslo,Skiing,Alpine Skiing,AUT,downhill,M,Bronze
255,1952,Oslo,Skiing,Alpine Skiing,AUT,giant slalom,M,Bronze
260,1952,Oslo,Skating,Speed skating,CAN,500m,M,Bronze
261,1952,Oslo,Skiing,Cross Country S,FIN,10km,W,Bronze
264,1952,Oslo,Skiing,Cross Country S,FIN,18km,M,Bronze
270,1952,Oslo,Skating,Figure skating,FRA,individual,W,Bronze
276,1952,Oslo,Skiing,Alpine Skiing,GER,giant slalom,W,Bronze
277,1952,Oslo,Skiing,Alpine Skiing,GER,slalom,W,Bronze
279,1952,Oslo,Skating,Figure skating,HUN,pairs,X,Bronze
281,1952,Oslo,Skiing,Alpine Skiing,ITA,downhill,W,Bronze
286,1952,Oslo,Skating,Speed skating,NOR,1500m,M,Bronze
288,1952,Oslo,Skating,Speed skating,NOR,5000m,M,Bronze
290,1952,Oslo,Skating,Speed skating,NOR,500m,M,Bronze
292,1952,Oslo,Skiing,Alpine Skiing,NOR,slalom,M,Bronze
296,1952,Oslo,Skiing,Cross Country S,NOR,50km,M,Bronze
297,1952,Oslo,Skiing,Nordic Combined,NOR,individual,M,Bronze
301,1952,Oslo,Bobsleigh,Bobsleigh,SUI,four-man,M,Bronze
302,1952,Oslo,Bobsleigh,Bobsleigh,SUI,two-man,M,Bronze
303,1952,Oslo,Ice Hockey,Ice Hockey,SWE,ice hockey,M,Bronze
304,1952,Oslo,Skating,Speed skating,SWE,10000m,M,Bronze
305,1952,Oslo,Skiing,Cross Country S,SWE,4x10km relay,M,Bronze
306,1952,Oslo,Skiing,Ski Jumping,SWE,K90 individual (70m),M,Bronze
310,1952,Oslo,Skating,Figure skating,USA,individual,M,Bronze